 
    
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">nazwa</th>
      <th scope="col">adres</th>
      <th scope="col">mail</th>
      <th scope="col">telefon</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let university of universities" >
      
      <td>{{university.name}} </td>
      <td>{{university.address}}</td>
      <td>{{university.email}}</td>
      <td>{{university.phone}} </td>
      <td>
        <button type="button" class="btn btn-secondary" (click)="updateUniversity(university)">
              M
        </button>
        <button type="button" class="btn btn-danger" (click)="deleteUniversity(university.id)">
              -
        </button></td>
    </tr>
   
  </tbody>
</table>